## Copy to /srv/stacks/observability/scripts/alertmanager.env and chmod 600

SMTP_SMARTHOST=192.168.1.20:1587
SMTP_FROM=alerts@homelab.local
SMTP_AUTH_USERNAME=
SMTP_AUTH_PASSWORD=

ALERT_EMAIL_TO=CHANGE_ME_EMAIL

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=CHANGE_ME_CHAT_ID
