TZ=Europe/London
MARIADB_ROOT_PASSWORD=CHANGE_ME
MARIADB_DATABASE=appdb
MARIADB_USER=appuser
MARIADB_PASSWORD=CHANGE_ME
POSTGRES_DB=postgres
POSTGRES_USER=postgresadmin
POSTGRES_PASSWORD=CHANGE_ME
N8N_DB_NAME=n8n
N8N_DB_USER=n8n
N8N_DB_PASSWORD=CHANGE_ME
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=CHANGE_ME
MSSQL_SA_PASSWORD=CHANGE_ME_COMPLEX
