TZ=Europe/London
PUID=1000
PGID=1000
RENDER_GID=109
VIDEO_GID=44
JELLYFIN_HTTP_PORT=8096
JELLYFIN_PUBLISHED_SERVER_URL=
JELLYFIN_CONFIG_DIR=/srv/data/media/config
JELLYFIN_CACHE_DIR=/srv/data/media/cache
MEDIA_LIBRARY_DIR=/mnt/media-library
MEDIA_MOVIES_DIR=/mnt/media-library/movies
MEDIA_TV_DIR=/mnt/media-library/tv
MEDIA_MUSIC_DIR=/mnt/media-library/music
MEDIA_HOME_VIDEOS_DIR=/mnt/media-library/home-videos
MEDIA_PHOTOS_DIR=/mnt/media-library/photos
JELLYFIN_DRI_DEVICE=/dev/dri
